* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

.main-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-image: url(../../images/img_header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 64px 165px 146px;
}

.logo-and-nav {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.logo-and-nav img:hover {
  cursor: pointer;
}

nav {
  height: 36px;
}
nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
nav ul li {
  height: 100%;
  font-family: "Alata", sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 166.667%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul li:hover {
  cursor: pointer;
}
nav ul li:hover::after {
  cursor: pointer;
  display: block;
  content: "";
  width: 24px;
  height: 2px;
  margin-top: 8px;
  background-color: #fff;
}

.header__title-box {
  margin-top: 153px;
  width: 650px;
  padding: 40px;
  font-size: 72px;
  font-weight: 300;
  line-height: 97.222%;
  text-transform: uppercase;
  border: 2px solid #fff;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 160px 164px 184px;
  gap: 184px;
}
.main__pg-vr {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  position: relative;
}
.main__pg-vr__description {
  width: 540px;
  padding: 96px 0 0 96px;
  background-color: #fff;
  color: #000;
  position: absolute;
  right: 0;
}
.main__pg-vr__description__title {
  font-size: 48px;
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.main__pg-vr__description p {
  font-family: "Alata", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 166.667%;
}
.main__creations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.main__creations__title-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
.main__creations__title-section span {
  font-size: 48px;
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
}
.main__creations__title-section button {
  padding: 13px 43px 13px 38px;
  font-family: "Alata", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #fff;
}
.main__creations__title-section button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.main__creations__image-section {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, auto);
}
.main__creations__image-section div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}
.main__creations__image-section div span {
  position: absolute;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
  left: 40px;
  bottom: 32px;
}
.main__creations__image-section div:hover img {
  opacity: 40%;
}
.main__creations__image-section div:hover span {
  color: #000;
}

footer {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 44px 165px 33px;
  gap: 24px;
}
footer div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer div img:hover {
  cursor: pointer;
}
footer p {
  font-family: "Alata", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 166.667%;
  opacity: 0.5;
}/*# sourceMappingURL=style.css.map */