* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

.main-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-image: url(../../images/img_header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 64px 165px 146px;
}

.logo-and-nav {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-and-nav img:hover {
  cursor: pointer;
}

nav {
  height: 36px;
}
nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
nav ul li {
  height: 100%;
  font-family: "Alata", sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 166.667%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul li:hover {
  cursor: pointer;
}
nav ul li:hover::after {
  cursor: pointer;
  display: block;
  content: "";
  width: 24px;
  height: 2px;
  margin-top: 8px;
  background-color: #fff;
}

.hambur-menu {
  display: none;
}

.header__title-box {
  margin-top: 153px;
  width: 650px;
  padding: 40px;
  font-size: 72px;
  font-weight: 300;
  line-height: 97.222%;
  text-transform: uppercase;
  border: 2px solid #fff;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 160px 164px 184px;
  gap: 184px;
}
.main__pg-vr {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  position: relative;
}
.main__pg-vr img {
  width: 100px;
}
.main__pg-vr__description {
  width: 540px;
  padding: 96px 0 0 96px;
  background-color: #fff;
  color: #000;
  position: absolute;
  right: 0;
}
.main__pg-vr__description__title {
  font-size: 48px;
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.main__pg-vr__description p {
  font-family: "Alata", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 166.667%;
}
.main__creations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.main__creations__title-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
.main__creations__title-section span {
  font-size: 48px;
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
}
.main__creations__image-section {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, auto);
}
.main__creations__image-section div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}
.main__creations__image-section div span {
  position: absolute;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
  left: 40px;
  bottom: 32px;
}
.main__creations__image-section div:hover {
  cursor: pointer;
}
.main__creations__image-section div:hover img {
  opacity: 40%;
}
.main__creations__image-section div:hover span {
  color: #000;
}
.main__creations #button-second {
  display: none;
}

button {
  padding: 13px 43px 13px 38px;
  font-family: "Alata", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #fff;
}

button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 44px 165px 33px;
  gap: 24px;
}
footer div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer div img:hover {
  cursor: pointer;
}
footer p {
  font-family: "Alata", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 166.667%;
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  header {
    height: 100vh;
    padding: 40px 24px 220px;
  }
  header .header__title-box {
    width: -moz-fit-content;
    width: fit-content;
    text-wrap: wrap;
    margin-top: 164px;
    padding: 24px;
    font-size: 40px;
    line-height: 95%;
  }
  header nav {
    display: none;
  }
  .hambur-menu {
    display: block;
  }
  .main {
    padding: 96px 24px;
  }
  .main__pg-vr {
    position: static;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .main__pg-vr img {
    width: 90vw;
  }
  .main__pg-vr__description {
    width: 90vw;
    text-align: center;
    position: static;
    padding: 0;
    margin-top: 48px;
  }
  .main__pg-vr__description span {
    font-size: 144rem;
  }
  .main__pg-vr__description p {
    opacity: 0.5;
  }
  .main__creations__title-section {
    justify-content: center;
  }
  .main__creations__title-section span {
    text-align: center;
  }
  .main__creations__title-section p {
    width: auto;
    text-wrap: wrap;
  }
  .main__creations__image-section {
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
  }
  .main__creations__image-section div span {
    left: 20px;
    bottom: 20px;
    font-size: 24px;
  }
  #button-first {
    display: none;
  }
  #button-second {
    display: block;
  }
  footer {
    width: auto;
    padding: 0px;
    margin: 0;
  }
  footer .logo-and-socials {
    justify-content: center;
  }
  footer .logo-and-socials #socials {
    display: none;
  }
  footer div {
    flex-direction: column;
  }
  footer div nav ul {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */