@use "../utils/variables";

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: variables.$primary-font;
  color: variables.$primary-color;
}
.main-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-image: url(../../images/img_header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 64px 165px 146px;
}

.logo-and-nav {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  img:hover {
    cursor: pointer;
  }
}
nav {
  height: 36px;
  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    li {
      height: 100%;
      font-family: variables.$secondary-font;
      color: variables.$primary-color;
      font-size: 15px;
      font-weight: 400;
      line-height: 166.667%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li:hover {
      cursor: pointer;
    }
    li:hover::after {
      cursor: pointer;
      display: block;
      content: "";
      width: 24px;
      height: 2px;
      margin-top: 8px;
      background-color: variables.$primary-color;
    }
  }
}
.hambur-menu {
  display: none;
}
.header__title-box {
  margin-top: 153px;
  width: 650px;
  padding: 40px;
  font-size: 72px;
  font-weight: 300;
  line-height: 97.222%;
  text-transform: uppercase;
  border: 2px solid variables.$primary-color;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 160px 164px 184px;
  gap: 184px;

  &__pg-vr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    position: relative;

    img {
      width: 100px;
    }

    &__description {
      width: 540px;
      padding: 96px 0 0 96px;
      background-color: variables.$primary-color;
      color: variables.$secondary-color;
      position: absolute;
      right: 0;

      &__title {
        font-size: 48px;
        font-weight: 300;
        line-height: 100%;
        text-transform: uppercase;
        margin-bottom: 24px;
      }

      p {
        font-family: variables.$secondary-font;
        font-size: 15px;
        font-weight: 400;
        line-height: 166.667%;
      }
    }
  }

  &__creations {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    &__title-section {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: variables.$secondary-color;

      span {
        font-size: 48px;
        font-weight: 300;
        line-height: 100%;
        text-transform: uppercase;
      }
    }
    &__image-section {
      width: 100%;
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(4, auto);

      div {
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;

        span {
          position: absolute;
          color: #fff;
          font-size: 32px;
          font-weight: 300;
          line-height: 100%;
          text-transform: uppercase;
          left: 40px;
          bottom: 32px;
        }
      }
      div:hover {
        cursor: pointer;

        img {
          opacity: 40%;
        }

        span {
          color: variables.$secondary-color;
        }
      }
    }
    #button-second {
      display: none;
    }
  }
}
button {
  padding: 13px 43px 13px 38px;
  font-family: variables.$secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: variables.$primary-color;
}
button:hover {
  background-color: variables.$secondary-color;
  color: variables.$primary-color;
  cursor: pointer;
}
footer {
  width: 100%;
  background-color: variables.$secondary-color;
  display: flex;
  flex-direction: column;
  padding: 44px 165px 33px;
  gap: 24px;

  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img:hover {
      cursor: pointer;
    }
  }
  p {
    font-family: variables.$secondary-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 166.667%;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding: 40px 24px 220px;

    .header__title-box {
      width: fit-content;
      text-wrap: wrap;
      margin-top: 164px;
      padding: 24px;
      font-size: 40px;
      line-height: 95%;
    }

    nav {
      display: none;
    }
  }
  .hambur-menu {
    display: block;
  }

  .main {
    padding: 96px 24px;

    &__pg-vr {
      position: static;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      img {
        width: 90vw;
      }
      &__description {
        width: 90vw;
        text-align: center;
        position: static;
        padding: 0;
        margin-top: 48px;

        span{
        font-size: 144rem;
        }
        p {
          opacity: 0.5;
        }
      }
    }

    &__creations {
      &__title-section {
        justify-content: center;
        span {
          text-align: center;
        }
        p {
          width: auto;
          text-wrap: wrap;
        }
      }
      &__image-section {
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;

        div {
          span {
            left: 20px;
            bottom: 20px;
            font-size: 24px;
          }
        }
      }
    }
  }

  #button-first {
    display: none;
  }
  #button-second {
    display: block;
  }

  footer {
    width: auto;
    padding: 0px;
    margin: 0;

    .logo-and-socials {
      justify-content: center;

      #socials {
        display: none;
      }
    }
    div {
      flex-direction: column;
      nav {
        ul {
          flex-direction: column;
        }
      }
    }
  }
}
